html, body {
	position: relative;
	height: 100%;
	background-color: #FFFFFF;
}

p, h1{
	color:#FFFFFF;
}

code, pre.code {
	background:#EEEEEE;
	padding:3px;
	color:#CC9900;
}

pre.code code {
    padding:0px;
}

#wrapper {
	min-height: 100%;
	position: relative;
	padding-bottom: 120px;
}

.header {
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	right: 0;
}

.nav {
	height: 60px;
	width: 70%;
	margin: 0 auto;
	background-color: #FFFFFF;
}

.leftnav {
	float: left;
}

.search {
	float: right;
	margin: 6px 100px 0 0;
}

.search p {
	
	padding: 0;
	color: #FFF;
}

.leftnav ul {
	list-style-type: none;
	margin: 8px 0 0 0;
	padding: 0;
	overflow: hidden;
}

.leftnav ul li {
	float: left;
	display: inline-block;
	width: auto;
	min-width:150px;
	padding: 10px;
	text-align:center;
	background-color: #CC9900;
	font-size:20px;
}

.leftnav a{
	text-decoration: none;
}
.leftnav a:link{

	color: #FFF;
}

.leftnav a:visited{
	color:#AC75AC;
}

.leftnav a:hover, a:active {
	background-color: #888;
}

.clear {
	clear: both;
}

.container {
	width: 70%;
	margin: 85px auto;
}

.toc {
	position: fixed;
}

.toc h1 {
	font-size: 24px;
	margin: 0 0 0 17px;
	padding: 0;
	color: #000066;
}

.toc ul {
	list-style: none;
	margin: 0 0 0 20px;
	padding: 0;
}


.content {
	width: 70%;
	margin: 0 0 0 200px;
}

.dynamicSection {

	display: none;
	background: #CCC;
	width: 92%;
	
}

/* image sizes */
img {
    max-width: 75%;
    max-height: 600px;
}

/* unvisited link */
a:link {
    color: #0000FF;
}

/* visited link */
a:visited {
    color: #800080;
}

/* mouse over link */
a:hover {
    color: #000066;
}

/* selected link */
a:active {
    color: #000066;
}

input.expander{
	background-image: url(./images/dynamic_triangle.png);
	background-color:transparent;
	background-repeat:no-repeat;
	border:none;
	float:right;
	cursor:pointer;
	width: 52px;
	height: 47px;
	-moz-transition: transform 1s;
	-webkit-transition: transform 1s;
	transition: transform 1s;
	
}