html, body {
	position: relative;
	height: 100%;
	background-color: #000080
}

p, h1 {
	color:#ffffff;
}

code, pre.code {
	background:#EEEEEE;
	padding:3px;
	color: #e5c100
}

pre.code code {
    padding:0px;
}

#wrapper {
	min-height: 100%;
	position: relative;
	padding-bottom: 120px;
}

.header {
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	right: 0;
}

.nav {
	height: 37px;
	width: 70%;
	margin: 0 auto;
	background-color: #333;
}

.leftnav {
	float: left;
}

.search {
	float: left;
}

.search p {
	margin: 9px 0 0 200px;
	padding: 0;
	color: #FFF;
}

.leftnav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.leftnav ul li {
	float: left;
	display: inline-block;
	width: auto;
	min-width:150px;
	padding: 7px;
	text-align:center;
	background-color: #333;
	font-size:20px;
}

.leftnav a{
	text-decoration: none;
}
.leftnav a:link{

	color: #FFF;
}

.leftnav a:visited{
	color:#AC75AC;
}

.leftnav a:hover, a:active {
	background-color: #888;
}

.clear {
	clear: both;
}

.container {
	width: 70%;
	margin: 85px auto;
}

.toc {
	float: left;
	width: 15%;
}

.toc h1 {
	font-size: 24px;
	margin: 0 0 0 17px;
	padding: 0;
	color: #FF0000;
}

.toc ul {
	list-style: none;
	margin: 0 0 0 20px;
	padding: 0;
}


.content {
	float: left;
	width: 85%;
}

/* unvisited link */
a:link {
    color: #0000FF;
}

/* visited link */
a:visited {
    color: #800080;
}

/* mouse over link */
a:hover {
    color: #FF0000;
}

/* selected link */
a:active {
    color: #FF0000;
}

input.dynamicTriangle{
	background-image: url(/images/dynamic_triangle);
	background-color:transparent;
	background-repeat:no-repeat;
	border:none;
	float:right;
	cursor:pointer;

}