html, body {
	position: relative;
	height: 100%;
	background-color: #FFFFFF;
}

p, h1{
	color:black;
}

h1, h4 {
	margin: 0;
	padding: 0;
}

h4 {
	font-size: 18px;
}

pre {
    white-space: pre-wrap;       /* CSS 3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

code, pre.code {
	background:#EEEEEE;
	padding:3px;
	color:#000066;
}

pre.code code {
    padding:0px;
}

#wrapper {
	min-width: 1200px;
	width:expression(document.body.clientWidth < 600? "600px": "auto" ); /* internet explorer */
	position: relative;
	padding-bottom: 120px;
}

.header {
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	right: 0;
}

.nav {
	height: 60px;
	width: 70%;
	margin: 0 auto;
	background-color: #00254C;
}

.leftnav {
	float: left;
}

.search {
	float: right;
	margin: 6px 100px 0 0;
}

.search p {
	
	padding: 0;
	color: #FFF;
}

.leftnav ul {
	list-style-type: none;
	margin: 8px 0 0 20px;
	padding: 0;
	overflow: hidden;
}

.leftnav ul li {
	float: left;
	display: inline-block;
	width: auto;
	padding: 10px;
	text-align:center;
	background-color: #00254C;
	font-size:20px;
}

.leftnav a{
	text-decoration: none;
}
.leftnav a:link{
	color: #FFD633;
}

.leftnav a:visited{
	color: #FFD633;
}

.leftnav a:hover, a:active {
	color: #FFF;
}

.clear {
	clear: both;
}

.container {
	width: 70%;
	margin: 85px auto;
}

.toc {
	position: fixed;
}

.toc h1 {
	font-size: 24px;
	margin: 0 0 0 17px;
	padding: 0;
	color: #000000;
}

.toc ul {
	list-style: none;
	margin: 0 0 0 20px;
	padding: 0;
}


.content {
	width: 70%;
	margin: 0 0 0 225px;
}

.dynamicSection {

	display: none;
	background: #A1E4E7;
	width: 92%;
	
}

.btn {
   border-top: 1px solid #FFDD00;
   background: #FFC800;
   background: -webkit-gradient(linear, left top, left bottom, from(#FFC800), to(#CC9900));
   background: -webkit-linear-gradient(top, #FFC800, #CC9900);
   background: -moz-linear-gradient(top, #FFC800, #CC9900);
   background: -ms-linear-gradient(top, #FFC800, #CC9900);
   background: -o-linear-gradient(top, #FFC800, #CC9900);
   padding: 12px 5px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   color: white;
   font-size: 22px;
   font-weight: bold;
   text-decoration: none;
   vertical-align: middle;
}

.btn:hover {
   border-top-color: #FFDD00;
   background: #FFC800;
   color: #FFFFFF;
}

.btn:active {
   border-top-color: #CC9900;
   background: #CC9900;
   color: #CCCCCC;
}

/* unvisited link */
a:link {
    color: #FFFFFF;
}

/* visited link */
.btn:visited {
    color: #FFFFFF;
}

table {
    display: table;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    table-layout: fixed;
}

table td {
    display: table-cell;
    text-align: center;
}

/* image sizes */
img {
    max-width: 75%;
    max-height: 400px;
    
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 2px;
    border: 1px solid #AAAAAA;
    background-color: #FFFFFF;
}

/* unvisited link */
a:link {
    color: #0000FF;
}

/* visited link */
a:visited {
    color: #0000FF;
}

/* mouse over link */
a:hover {
    color: #000066;
}

/* selected link */
a:active {
    color: #000066;
}

input.dynamicTriangle{
	background-image: url(./images/dynamic_triangle.png);
	background-color:transparent;
	background-repeat:no-repeat;
	border:none;
	float:right;
	cursor:pointer;
	width: 52px;
	height: 47px;
	-moz-transition: transform 0.5s;
	-webkit-transition: transform 0.5s;
	transition: transform 0.5s;
	
}

button.sourceCode {
   border-top: 1px solid #96d1f8;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
   background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
   background: -moz-linear-gradient(top, #3e779d, #65a9d7);
   background: -ms-linear-gradient(top, #3e779d, #65a9d7);
   background: -o-linear-gradient(top, #3e779d, #65a9d7);
   padding: 5px 10px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 14px;
   font-family: Helvetica, serif;
   text-decoration: none;
   vertical-align: middle;
   }
button.sourceCode:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
   }
button.sourceCode:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }